@*
=================================================
FOOTER PUBLIC
=================================================
*@
<footer>
    <div class="footer-container">
        <div class="footer-grid">
            <div class="footer-col">
                <h5>GABERA</h5>
                <p>17 rue Kobia-Niamey<br />75000 Niamey</p>
                <p>contact@gabera.com<br />+227 96 96 96 96</p>
            </div>
            <div class="footer-col">
                <h5>explorer</h5>
                <a href="#">phases</a>
                <a href="#">semaines</a>
                <a href="#">mentors</a>
                <a href="#">parcours</a>
            </div>
            <div class="footer-col">
                <h5>recevoir l'inspiration</h5>
                <p style="font-style: italic; margin-bottom: 1.5rem">
                    lettre d'inspiration, sans spam.
                </p>
                <div class="newsletter-input">
                    <input type="email" placeholder="votre adresse" />
                    <i class="fas fa-arrow-right"></i>
                </div>
            </div>
        </div>
        <div class="copyright">
            <span>GABERA — © 2026</span>
        </div>
    </div>
</footer>
